<h1>Your tasks here</h1>
<div class="field-tasks">
    <div class="field-tasks-backlog">
        <div> Backlog </div>
        <div>
            <ul class="list-tasks-backlog"></ul>
        </div>
        <div><button>+ Add card</button></div>
    </div>
    <div class="field-tasks-ready">
        <div>Ready</div>
        <div>
            <ul class="list-tasks-ready"></ul>
        </div>
        <div><button>+ Add card</button></div>
    </div>
    <div class="field-tasks-progress">
        <div>In progress</div>
        <div>
            <ul class="list-tasks-progress"></ul>
        </div>
        <div><button>+ Add card</button></div>
    </div>
    <div class="field-tasks-finished">
        <div>Finished</div>
        <div>
            <ul class="list-tasks-finished"></ul>
        </div>
        <div><button>+ Add card</button></div>
    </div>
</div>